<!doctype html>
<html>

<head>
  <title>Vending Machine</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <h1>Soda</h1>
  </header>




  <div class="sodaBtns">

    <button id="pepsi" value="pepsi" name="item" type="button"></button>

    <button id="coke" value="coke" name="item" type="button"></button>

    <button id="dasani" value="dasani" name="item" type="button"></button>

    <button id="up" value="7up" name="item" type="button"></button>

    <button id="fanta" value="fanta" name="item" type="button"></button>

  </div>
  -++

  </div>
  <div class="col-sm-6 login">
    <h3>Admin ?</h3>
    <p>Login or Signup:</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

  </div>

  <script type="text/javascript" src="main.js"></script>


</body>

</html>